# Python caches
__pycache__
.mypy_cache
.pytest_cache

# VSCode settings shouldn't be committed by default
.vscode/settings.json

# Compiled files
*.pyc

# Input data
arxiv_ids.txt

# Pipeline inputs and outputs
data
