# Config files with sensitive credentials
config.ini

# Python caches
__pycache__
.mypy_cache
.pytest_cache

# Model output
cache

# VSCode settings shouldn't be committed by default
.vscode/settings.json
.vscode/.ropeproject

# Compiled files
*.pyc

# Input data
arxiv_ids.txt

# Pipeline inputs and outputs
data

# Script outputs
tmp

# Pipeline logs
logs

# Dependencies
src
venv

# Files hidden for some other reason
.hidden
.protected
