awscli==1.16.303
beautifulsoup4==4.8.0
lxml==4.4.2
nltk==3.4.5
numpy==1.17.4
opencv-python-headless==3.4.8.29
# Sometime between versions 3.12.0 and 3.13.3, a change was made that influences how batch
# inserts are made that breaks the function for uploading entities. 3.12.0 lets the code
# create all entities, then bounding box models that refer to those entities, before
# uploading either of them, and it still resolves the references to the entities correctly.
# The references do not resolve correctly in 3.13.3, hence hard-coding Peewee to 3.12.0.
peewee==3.12.0
psycopg2-binary
pysbd==0.3.0
pytorch-crf==0.7.2
requests==2.31.0
scispacy==0.2.4
spacy==2.2.4
TexSoup==0.2.0
torch==1.5.1
tqdm
transformers==2.11.0
wandb==0.10.11

# SciSpacy models. See URLs for all available models at https://allenai.github.io/scispacy/.
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_sm-0.2.4.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_md-0.2.4.tar.gz

# Development dependencies
black==19.10b0
mypy==0.782
mypy-extensions==0.4.3
pylint==2.4.4
pytest==5.3.1
