/**
 * Position annotations absolutely on each page
 */
.scholar-reader-annotation-span {
  position: absolute;
}

/**
 * Enlarge the hitbox of an annotation
 */
.scholar-reader-annotation-span:not(.user-annotation) {
  margin: -@highlight-hitbox-padding * 2/3 -@highlight-hitbox-padding;
  padding: @highlight-hitbox-padding * 2/3 @highlight-hitbox-padding;
}

/**
 * Provide an underline as a hint that the annotation is interactive 
 */
.scholar-reader-annotation-span.annotation-hint {
  border-bottom: @underline-width @underline-color dotted;
}

.scholar-reader-annotation-span:not(.user-annotation) {
  /**
   * Highlight the area of an annotation on hover
   */
  &:hover,
  &.selected,
  &.annotation-selected {
    background-color: @highlight-color;
    cursor: pointer;
  }
  /**
   * Highlight all matching symbols
   */
  &.matching-symbol-annotation,
  &.selected,
  &.annotation-selected {
    background-color: @highlight-annotation-color;
  }
}

/**
 * Highlight entities that were using experimental techniques
 */
.scholar-reader-annotation-span.source-other {
  background-color: rgba(255, 255, 0, 0.3);
}
