.brandbar {
  height: 48px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 10px;
}

.brandbar__left {
  grid-column: 1;
}

.brandbar__right {
  grid-column: 3;
}
