@sidenote-margin: @padding;

/**
 * Position tag off the side of the page. Vertical position is set in the JavaScript.
 */
.scholar-reader-discourse-tag {
  position: absolute;

  &.side-left {
    right: 90%;
    margin-right: @sidenote-margin;
  }

  &.side-right {
    left: 90%;
    margin-left: @sidenote-margin;
  }

  &:hover {
    z-index: 1000;
  }
}

/**
 * Rule from sidenote to anchor
 */
.discourse-tag-rule {
  position: absolute;
  border: none;
  border-top: 1px dotted grey;
}

.discourse-tag-action-widget {
  position: absolute;
  width: relative;
  border-radius: 5px;
  border: 1px solid grey;
  visibility: hidden;
  z-index: 1001;

  &.visible {
    visibility: visible !important;
  }

  > div {
    padding: 10px;
  }
}

.discourse-select {
  min-width: 120px !important;
}
