.scholar-reader-discourse-tag {
  position: absolute;
  padding: 4px;
  font-weight: bold;
  width: fit-content;

  &.side-left {
    right: 91%;
    margin-right: @sidenote-margin;
  }

  &.side-right {
    left: 91%;
    margin-left: @sidenote-margin;
  }

  &:hover {
    z-index: 1000;
  }
}

.discourse-tag-rule {
  position: absolute;
  border: none;
  border-top: 1px dotted grey;
}

/**
 * Discourse palette allowing users to toggle which discourse classes to show.
 */
.discourse-chip-palette-wrapper {
  position: relative;
  width: @document-snippets-container-width + 20px;
  margin: 0 auto;
  margin-top: 5px;

  .discourse-chip-palette {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .discourse-chip {
      margin: 2px 2px;
      border-radius: 6px !important;
      opacity: 0.8;

      &.deselected {
        opacity: 0.6;
      }

      &:hover:not(.deselected) {
        opacity: 1;
        border-color: grey;
      }
    }

    .discourse-chip-label {
      vertical-align: middle;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.discourse-control-toolbar {
  position: absolute;
  padding: 4px;
  width: fit-content;
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px gray;
  border: 0.5px #cccccc solid;
  border-radius: 10px;

  &:hover {
    z-index: 1000;
  }
}

.discourse-palette-heading {
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
}
