/**
 * Drawer position
 */
@{drawer} {
  top: @pdfjs-toolbarViewer-height;
  height: calc(100% - @pdfjs-toolbarViewer-height);
  right: @scrollbarWidth + 2px;
}

/**
 * Drawer style
 */
@{drawer} {
  border-left: @border;
}

.drawer__header {
  padding: @medium;
}

/**
 * Padding for drawer content.
 */
.drawer__content {
  padding: 0 @padding;
  overflow-y: scroll;
}

.drawer__close_icon {
  position: fixed;
  z-index: @drawer-close-button-z-index;
}

/**
 * Drawer text.
 */
.drawer__content {
  &__header {
    font-size: @large;
    font-weight: bolder;
    padding-top: @padding;
    padding-bottom: @padding;
  }

  p:not(&__header) {
    font-size: @medium;
    line-height: @medium * @line-height-ratio;
    color: @s2-text-default;
  }
}

/**
 * Floating action button used to open and close the drawer.
 */
#drawer-control-fab {
  position: absolute;
  top: 50%;
  height: 35px;
  width: 35px;
  z-index: 1200;
  transition: right 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  min-height: 0px !important;
  line-height: 15px;
  vertical-align: middle;
}
