/**
 * Equation diagram.
 */
.equation-diagram {
  z-index: @equation-diagram-z-index;
}

/**
 * Features (areas of interest) in diagrams.
 */
rect.equation-diagram__feature {
  stroke-width: 2;
  fill: @highlight-color;
  fill-opacity: @highlight-hover-opacity;
}

/**
 * Labels
 */
div.equation-diagram-gloss {
  cursor: pointer;
}

/**
 * Leader lines.
 */
g.equation-diagram__leader {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  path.leader-background {
    stroke: white;
    stroke-width: 4;
    fill: none;
  }

  path.leader-foreground {
    stroke: @highlight-color;
    stroke-opacity: 0.5;
    stroke-width: 2;
    fill: none;
  }
}

/**
 * Hover behavior.
 */
g.equation-diagram__labeled-feature {
  &:hover {
    cursor: default;

    rect.diagram-label__background {
      stroke-width: @label-border-width * 2;
    }

    rect.equation-diagram__feature {
      opacity: 1;
    }

    g.equation-diagram__leader {
      opacity: 1;
      path.leader-foreground {
        stroke-dasharray: unset;
      }
    }
  }
}
