/**
 * Font styles for formatted text
 */
span.formatted-text {
  .highlight {
    font-weight: bold;
  }

  .hide {
    color: @s2-text-light;
  }

  .match-highlight {
    background-color: @highlight-color;
  }
}
