/**
 * Default gloss dimensions
 */
.gloss {
  min-width: 200px;
  max-width: 400px;
}

/**
 * Gloss contents
 */
.gloss {
  background-color: @white;
  padding: @medium / 2;

  .gloss__section {
    & + .gloss__section {
      padding-top: @medium / 2;
    }
  }

  .gloss__header {
    padding-top: @padding / 2;
  }

  /*
   * Inset nested list elements
   */
  list-style-position: inside;
}

/**
 * Align buttons to the right
 */
.gloss__action-buttons {
  text-align: right;
}

/**
 * Space out the action buttons
 */
.gloss__action-buttons .gloss__action-button {
  margin-left: @padding;
}

/**
 * Gloss text
 */
.gloss {
  color: @s2-text-default;
  font-family: @s2-font-family;
  font-size: @medium;
  line-height: @medium * @line-height-ratio;
  font-weight: lighter;

  /*
   * List element styling
   */
  li {
    margin-bottom: @medium * 0.5;

    /*
     * Show display equations inline
     */
    .katex-display {
      margin: unset;
    }
  }

  /*
   * Links within the document
   */
  .entity-link-span {
    text-decoration: underline;
    cursor: pointer;
    color: @s2-link-default;
  }
}

/**
 * Formulas
 */
.defining-formula {
  border: @border;
  border-radius: @border-radius;
  padding: @padding;

  /*
   * Interaction
   */
  &.clickable {
    cursor: pointer;
  }

  /*
   * Some equations will be massive, so they scroll.
   */
  max-height: 3rem;
  overflow: auto;

  /*
   * Don't wrap the text, and center the span if it doesn't take up the whole width.
   */
  .formatted-text {
    white-space: pre;
    display: table;
    margin: 0 auto;
  }
}
