/**
 * Paper summary layout
 */
.paper-summary {
  max-width: @paper-summary-width;
  padding: @padding;
  color: @s2-text-default;
}

.paper-summary__loading-msg {
  margin-bottom: 1em;
}

/**
 * Pad paper summary title so the favorite button doesn't occlude it
 */
.paper-summary__title {
  padding-right: 2em;
}

// .paper-summary__source {
//   max-width: @paper-summary-width;
//   padding: @padding;
//   max-height: unset !important;
//   text-align: right;
//   font-weight: lighter;
//   font-size: smaller;
//   color: gray;
//   font-style: italic;
//   line-height: 0rem;
//   padding: 0;
// }

/**
 * Paper summary fonts
 */
.paper-summary {
  color: @black;
  // font-size: @large;
  font-size: 12px;
  // line-height: @large * @line-height-ratio;
  line-height: 12px * @line-height-ratio;
  min-width: 320px;
  padding-bottom: 0.4rem;

  .summary-name {
    font-weight: bolder;
  }

  &__section {
    // padding-bottom: @tooltip-content-vertical-padding;
  }

  &__title {
    // font-size: @large;
    font-size: 12px;
    line-height: 12px * @line-height-ratio;
    font-weight: bold;
  }

  &__authors,
  &__year {
    color: lighten(@black, 10%);
  }

  &__abstract__show-more-label {
    color: deepskyblue;
  }

  &__feedback {
    color: lighten(@black, 50%);
    font-style: italic;
  }
}

.paper-summary__metrics-and-actions {
  display: flex;
  align-items: center;
}

/**
 * Actions
 */

@{mui-button-base} {
  @icon-size: 1.8rem;

  &.paper-summary__action {
    color: @s2-text-light;

    svg {
      font-size: @icon-size;
    }
  }
}

/**
 * Metrics
 */

.paper-summary__metrics {
  display: flex;
}

.paper-summary__metrics__metric {
  display: flex;
  align-items: center;
  margin-right: @padding;
  color: @s2-influential-citation-orange;

  svg {
    fill: @s2-influential-citation-orange;
    margin-right: @padding / 2;
  }
}

@{mui-button-base}.paper-summary__action,
.paper-summary__metrics__metric {
  font-size: @button-font-size;
  font-weight: 700;
}

.paper-summary__abstract__show-more-label {
  margin-left: 4px;
  cursor: pointer;
}
