/**
 * Container for paper clipping.
 */
.paper-clipping {
  width: @paper-clipping-width;
  height: 200px;
  margin: @padding;
  border: @border-width @border-color solid;
  border-radius: @border-radius;
  /**
   * Set to 'auto' if you want users to be able to scroll.
   */
  overflow: hidden;
}
