/**
 * Tooltip background
 */
@{mui-tooltip} {
  background-color: @white;

  .citation-tooltip-body {
    background-color: @white;
  }
}

/**
 * Tooltip shadow
 */
@{mui-tooltip} {
  border: @border;
}

/**
 * Tooltip dimensions
 */
@{mui-tooltip} {
  /*
   * Allow width to be set by content. This is particularly important for symbol tooltips, which
   * will be sized dynamically based on the sentence a symbol comes from.
   */
  min-width: 300px;
  max-width: unset;

  .tooltip-body {
    padding: @medium * 0.5;
  }

  .tooltip-body__section:not(:first-of-type) {
    padding-top: @medium * 0.5;
    padding-left: @tooltip-padding;
    padding-right: @tooltip-padding;
  }

  .tooltip-body__header {
    display: grid;
    grid-template-columns: auto min-content;
    grid-gap: @medium * 0.5;
    align-items: center;
  }

  /*
   * Adding a small amount of horizontal padding to citations so that there's
   * some separation between the hover state background color and the left and
   * right edges of the text.
   */
  .tooltip-body__citation {
    padding-left: @tooltip-padding;
    padding-right: @tooltip-padding;
  }
}

/**
 * Align buttons to the right
 */
.tooltip-body__action-buttons {
  text-align: right;
}

/**
 * Space out the action buttons
 */
.tooltip-body__action-buttons .tooltip-body__action-button {
  margin-left: @padding;
}

/**
 * Tooltip text
 */
@{mui-tooltip} {
  color: @black;
  font-size: @medium;
  line-height: 1em;
  font-weight: lighter;
}
