/**
 * Tooltip background
 */
@{mui-tooltip} {
  background-color: @white;
  color: @s2-text-default;

  .citation-tooltip-body {
    background-color: @white;
  }
}

/**
 * Tooltip shadow
 */
@{mui-tooltip} {
  border: @border;
}
