/**
 * Position of container of toolbars
 */
.scholar-reader-toolbar-container {
  position: absolute;
  top: @pdfjs-toolbarViewer-height + 10;
  left: @padding * 2;
  z-index: max(
    @pdfjs-sidebarContainer-z-index + 1,
    @base-annotation-z-index + 1
  );
}

/**
 * Definition preview position
 */
.definition-preview {
  position: absolute;
  bottom: @padding * 2;
  right: @padding * 2;
  z-index: @base-annotation-z-index + 1;
}
