/**
 * Find bar position
 */
.find-bar {
  position: absolute;
  top: @pdfjs-toolbarViewer-height + 10;
  left: @padding * 2;
  z-index: @pdfjs-sidebarContainer-z-index + 1;
}

/**
 * Definition preview position
 */
.definition-preview {
  position: absolute;
  bottom: @padding * 2;
  right: @padding * 2;
}
